@model ApplicationUser

@{
    ViewData["Title"] = "Delete User";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Salon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    
    <form asp-action="DeleteUser">
      <div class="form-actions no-color">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-action="Index">Back to List</a>
      </div>
    </form>
</div>
