@model GoodLook.Models.Salon

@{
    ViewData["Title"] = $"Details {Model.Name}";
}

<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>@ViewData["Title"]</h3>
        <ol class="breadcrumb breadcrumb-simple">
          <li><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>
        </ol>
      </div>
    </div>
  </div>
</header>

<section class="box-typical proj-page">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>@Model.Name</h3>
      </div>
    </div>
  </header>
  <section class="proj-page-section">
    <div class="proj-page-txt">
      <header class="proj-page-subtitle">
        <h3>@Html.DisplayNameFor(x => x.Description)</h3>
      </header>
      <p>@Model.Description</p>
    </div>
  </section><!--.proj-page-section-->
</section>
<section class="box-typical">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>@Model.Users.Count users</h3>
      </div>
      <a asp-action="RegisterUser" asp-route-salonId="@Model.Id" class="tbl-cell tbl-cell-action-bordered">
        <span type="button" class="action-btn"><i class="font-icon font-icon-page"></i></span>
      </a>
    </div>
  </header>
  <div class="box-typical-body1">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          @foreach (var item in Model.Users)
          {
              <tr>
                <td>
                  @item.UserName
                </td>
                <td style="width: 240px">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="DeleteUser" asp-route-userId="@item.Id" asp-route-salonId="@Model.Id" class="btn btn-default-outline">Delete</a>
                  </div>
                </td>
              </tr>
          }

        </tbody>
      </table>
    </div>
  </div><!--.box-typical-body-->
</section>