@model IEnumerable<GoodLook.Models.Salon>

@{
    ViewData["Title"] = "Salons";
}

<header class="section-header">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>@ViewData["Title"]</h3>
      </div>
    </div>
  </div>
</header>

<section class="box-typical">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>@Model.Count() salons</h3>
      </div>
      <a asp-action="Create" class="tbl-cell tbl-cell-action-bordered">
        <span type="button" class="action-btn"><i class="font-icon font-icon-page"></i></span>
      </a>
    </div>
  </header>
  <div class="box-typical-body1">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          @foreach (var item in Model)
          {
              <tr>
                <td>
                  @item.Name
                </td>
                <td class="color-blue-grey-lighter">
                  @item.Description
                </td>
                <td style="width: 240px">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default-outline">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default-outline">Detail</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-default-outline">Delete</a>
                  </div>
                </td>
              </tr>
          }
        
        </tbody>
      </table>
    </div>
  </div><!--.box-typical-body-->
</section>