﻿@model GoodLook.ViewModels.EmployeesServiceViewModel

@{
    ViewData["Title"] = "title";
}

<form asp-action="AddService" method="post">
    <ul>
        @Html.HiddenFor(m => m.IdEmployees)

        @for (int i = 0; i < Model.ServiceItems.Count; i++)
        {
            <li>
                @Html.CheckBoxFor(m => m.ServiceItems[i].IsChecked)
                @Html.LabelFor(m => m.ServiceItems[i].IsChecked, Model.ServiceItems[i].Display)
                @Html.HiddenFor(m => m.ServiceItems[i].Id)
                @Html.HiddenFor(m => m.ServiceItems[i].Display)
            </li>
        }
    </ul>
    <input type="submit" name="name" value="send" />
</form>
