﻿@using System.Threading.Tasks
@model GoodLook.ViewModels.ScoreSettingViewModel

@{

}
<form asp-action="Save">
  <input asp-for="ScopeDuration" type="text"/>
  <span>дней</span>
  <table>
    @for (var i = 0; i < Model.Services.Count; i++)
    {
      <tr>
        <td>@Model.Services[i].Name</td>
          <td>
              @Html.HiddenFor(m => m.Services[i].Id)
              @Html.EditorFor(m => m.Services[i].ScoreService.ScoreValue)
          </td>
      </tr>
    }
  </table>
  <button type="submit">Send</button>
</form>
