﻿@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Авторизация</title>
  <link href="~/favicon.ico" rel="shortcut icon">

  <script src="~/js/plugins.js"></script>
  <script src="~/js/app.js"></script>
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
  <link rel="stylesheet" href="~/css/lib/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
  <div class="page-center">
    <div class="page-center-in">
      <div class="container-fluid">
        <form class="sign-box" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
          <div class="sign-avatar">
            <img src="~/img/avatar-sign.png" alt="">
          </div>
          <header class="sign-title">Sign In</header>
          @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
          <div class="form-group">
            <input asp-for="Email" type="text" class="form-control" placeholder="E-Mail"/>
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <div class="form-group">
            <div class="checkbox float-left">
              <input asp-for="RememberMe" type="checkbox" id="signed-in" />
              <label for="signed-in">Keep me signed in</label>
            </div>
            <div class="float-right reset">
              <a href="#">Reset Password</a>
            </div>
          </div>
          <button type="submit" class="btn btn-rounded">Sign in</button>
        </form>
      </div>
    </div>
  </div><!--.page-center-->
</body>
</html>