﻿@using System.Security.Claims

<nav class="side-menu">

  @if (User.IsInRole("Admin"))
  {
    <ul class="side-menu-list">
      <li class="red">
        <a asp-controller="Salons" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">Salons</span>
        </a>
      </li>
    </ul>
  }
  @if (User.IsInRole("SalonAdmin"))
  {
    <ul class="side-menu-list">
      <li class="red">
        <a asp-controller="News" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">News</span>
        </a>
      </li>
      <li class="red">
        <a asp-controller="Employees" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">Employees</span>
        </a>
      </li>
      <li class="red">
        <a asp-controller="CategoryServices" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">Services</span>
        </a>
      </li>
      <li class="red">
        <a asp-controller="Orders" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">Orders</span>
        </a>
      </li>
      <li class="red">
        <a asp-controller="Score" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">Score</span>
        </a>
      </li>
      <li class="red">
        <a asp-controller="Clients" asp-action="Index">
          <i class="font-icon glyphicon glyphicon-glass"></i>
          <span class="lbl">Clients</span>
        </a>
      </li>
    </ul>
  }

</nav><!--.side-menu-->