@model GoodLook.Models.News

@{
  ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
  <div class="form-horizontal">
    <h4>News</h4>
    <hr/>
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="Image"/>
    <input type="hidden" asp-for="DateCreate"/>

    <div class="form-group">
      <label asp-for="Article" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Article" class="form-control"/>
        <span asp-validation-for="Article" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group">
      <label asp-for="Image" class="col-md-2 control-label"></label>
      <input type="file" class="filestyle" data-buttonname="btn-white" name="file">
    </div>
    <div class="form-group">
      <label asp-for="Title" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default"/>
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
