@model IEnumerable<GoodLook.Models.CategoryServices>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
  <tr>
    <td>
      @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
      <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
      <a asp-controller="Services" asp-action="Create" asp-route-categoryId="@item.Id">Add service</a> |
      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
  </tr>
  foreach (var service in item.Services)
  {
    <tr>
      <td colspan="3">
        <table style="width: 100%">
          <tr>
            <td>@service.Name</td>
            <td>@service.Price</td>
            <td>
              <a asp-controller="Services" asp-action="Edit" asp-route-id="@service.Id">Edit</a> |
              <a asp-controller="Services" asp-action="Delete" asp-route-id="@service.Id">Delete</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  }
}
</table>
