@model GoodLook.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
  <input asp-for="CategoryId" type="hidden"/>
  <div class="form-horizontal">
    <h4>Service</h4>
    <hr/>
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Service.Name" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Service.Name" class="form-control"/>
        <span asp-validation-for="Service.Name" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="Service.Price" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="Service.Price" class="form-control"/>
        <span asp-validation-for="Service.Price" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default"/>
      </div>
    </div>
  </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
