@using System.Threading.Tasks
@model GoodLook.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClientPhone" class="form-control" />
                <span asp-validation-for="ClientPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServiceId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ServiceId">
                    @foreach (var item in Model.Services)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                </select>
            </div>
        </div>
        <div class="form-group">
            <div class='input-group date'>
                <input asp-for="ScheduledDate" type="text" class="form-control daterange">
                <span class="input-group-addon">
                    <i class="font-icon font-icon-calend"></i>
                </span>
            </div>
            <span asp-validation-for="ScheduledDate" class="text-danger" />
        </div>

        <div class="form-group">
            <div class="input-group clockpicker" data-autoclose="true">
                <input asp-for="ScheduledTime" type="text" class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <span asp-validation-for="ScheduledTime" class="text-danger" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section styles{
    <link href="~/css/lib/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet"/>
    <link href="~/css/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>

    <script src="~/js/lib/daterangepicker/daterangepicker.js"></script>

    <script>
        $(document).ready(function() {
            $('.daterange').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY'
                },
               singleDatePicker: true,
               showDropdowns: true
           });
        });
       
    </script>
}
