﻿@model IEnumerable<GoodLook.Models.Order>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
      <td>
        @Html.DisplayFor(modelItem => item.ScheduledTime)
      </td>
      <td>
        @item.Client.Phone
      </td>
      <td>@item.Status.ToString()</td>
      <td>
        @if (item.Status == OrderStatus.Create)
        {
            <form asp-action="ConfirmedOrder">
              <input name="orderId" value="@item.Id" type="hidden" />
              <button class="btn-block" type="submit">Confirmed</button>
            </form>
          <form asp-action="CancelOrder">
            <input name="orderId" value="@item.Id" type="hidden" />
            <button class="btn-block" type="submit">Cancel</button>
          </form>
        }
        @if (item.Status == OrderStatus.Confirmed)
        {
            <form asp-action="DoneOrder">
              <input name="orderId" value="@item.Id" type="hidden" />
              <button class="btn-block" type="submit">Done</button>
            </form>
          <form asp-action="CancelOrder">
            <input name="orderId" value="@item.Id" type="hidden" />
            <button class="btn-block" type="submit">Cancel</button>
          </form>
        }
      </td>
    </tr>
}
</table>
